
<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="card cardForm cardTopDistance">
  <div class="row">
    <div class="col-md-4">
      <h3>Users</h3>
    </div>
    <div class="col-md-4 text-center">
      <mat-form-field>
        <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
  </div>
  <div class="div resTable mat-elevation-z8">
    <!-- <table mat-table [dataSource]="dataSource" [class.isMobile]="isMobile">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Name:</span>
           {{element.firstName}} {{element.lastName}} 
          </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Email:</span>
           {{element.email}}
           </td>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef> Mobile </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Mobile:</span>
           {{element.mobile}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <span class="mobile-label">Status:</span>
           {{element.status}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
        <td mat-cell *matCellDef="let element">
          <div class="text-center">
            <span class="mobile-label">Action:</span>
            <button (click)="sendRowData(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table > -->
    <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Name:</span>
          {{element.firstName}} {{element.lastName}} 
        </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Email:</span>
          {{element.email}}
        </mat-cell>
      </ng-container>
    
    
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Mobile:</span>
          {{element.mobile}}
        </mat-cell>
      </ng-container>
    
      
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Status:</span>
          {{element.status}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <span class="mobile-label">Action:</span>
          <div class="text-center">
            <button (click)="sendRowData(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
            </button>
          </div>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>
  
    <div *ngIf="dataSource.data.length === 0" style="text-align: center;color: red;">
    No Records Found
    </div>

  

  <mat-paginator [length]="paginatorLength"
    [pageSize]="dataSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    (page)="pageEvent = $event; onPaginateChange($event)">
   </mat-paginator>
  
  
</div>

<!-- <mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span class="mobile-label">Name:</span>
      {{element.firstName}} {{element.lastName}} 
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span class="mobile-label">Email:</span>
      {{element.email}}
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="mobile">
    <mat-header-cell *matHeaderCellDef> Mobile </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span class="mobile-label">Mobile:</span>
      {{element.mobile}}
    </mat-cell>
  </ng-container>

  
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
      <span class="mobile-label">Status:</span>
      {{element.status}} 
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->

