<div class="card cardTopDistance">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5">
                <h1 class="title">Create Customer</h1>
            </div>
            <div class="col-md-3 ">
                <div class="div ">
                    <mat-select id="merchantStore" name="merchantStore" class="form-control"
                        (selectionChange)="onChange($event)">
                        <mat-option value="profile">Customer details</mat-option>
                        <mat-option value="changepassword">Set credentials</mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="div d-flex justify-content-end ">
                    <button class="btn removeBtn mr-3 ">CANCEL</button>
                    <button class="btn saveBtn  " (click)="onSubmit()">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="div">
    <div class="row">
        <div class="col-md-6">
            <div class="card cardForm ">
                <div class="">
                    <form [formGroup]="billingForm">
                        <h3 class="title">Billing Information</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="firstName">First name <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="firstName"
                                        formControlName="firstName" placeholder="First Name" name="firstName" required>
                                        <span *ngIf="
                                        firstName.invalid &&
                                          (firstName.dirty || firstName.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="firstName.errors.required"> First name is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="label" for="lastName">Last name <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="lastName"
                                        formControlName="lastName" placeholder="Last Name" name="lastName" required>
                                        <span *ngIf="
                                        lastName.invalid &&
                                          (lastName.dirty || lastName.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="lastName.errors.required"> Last name is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="userName">User name <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="userName"
                                        formControlName="userName" placeholder="User Name" name="userName" required>
                                        <span *ngIf="
                                        userName.invalid &&
                                          (userName.dirty || userName.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="userName.errors.required"> User name is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                <div class="form-group">
                                    <label class="label" for="company">Company <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="company"
                                        formControlName="company" placeholder="Customers Company" name="company"
                                        required>
                                        <span *ngIf="
                                        company.invalid &&
                                          (company.dirty || company.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="company.errors.required"> Comapny name is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="streetAddress">Street Address <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="streetAddress"
                                        formControlName="streetAddress" placeholder="Street Address"
                                        name="streetAddress" required>
                                        <span *ngIf="
                                        streetAddress.invalid &&
                                          (streetAddress.dirty || streetAddress.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="streetAddress.errors.required">Street address  is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="city">City <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="city" formControlName="city"
                                        placeholder="City" name="city" required>
                                        <span *ngIf="
                                        city.invalid &&
                                          (city.dirty || city.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="city.errors.required"> City name is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="firstName">Country <span
                                            class="required-asterisk">*</span></label>
                                    <mat-select id="country" formControlName="country" name="country"
                                        class="form-control">
                                        <mat-option value="">Please select</mat-option>
                                        <mat-option *ngFor="let country of country"
                                         [value]="country.value"
                                        >
                                            {{ country.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="stateProvince">State/Province <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="stateProvince"
                                        formControlName="stateProvince" placeholder="Enter State" name="stateProvince"
                                        required>
                                        <span *ngIf="
                                        stateProvince.invalid &&
                                          (stateProvince.dirty || stateProvince.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="stateProvince.errors.required"> State is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="postalCode">Postal Code <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="postalCode"
                                        formControlName="postalCode" placeholder="Postal Code" name="postalCode"
                                        required>
                                        <span *ngIf="
                                        postalCode.invalid &&
                                          (postalCode.dirty || postalCode.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="postalCode.errors.required"> Postal is required.</span>
                                        </span>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="email">Email Address <span
                                            class="required-asterisk">*</span></label>
                                    <input type="email" class="form-control inputText" id="email"
                                        formControlName="email" placeholder="Email Address" name="email" required>
                                        <span *ngIf="
                                        email.invalid &&
                                          (email.dirty || email.touched)
                                        " class="text-danger mx-2">
                                        <span *ngIf="email.errors.required">Value has to be a valid email address.</span>
                                      </span>
                                      <span class="text-danger" *ngIf="email.errors?.pattern">
                                        Email address is required.
                                      </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="phoneNumber">Phone number <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="phoneNumber"
                                        formControlName="phoneNumber" placeholder="Phone number" name="phoneNumber"
                                        required>
                                        <span *ngIf="
                                        phoneNumber.invalid &&
                                          (phoneNumber.dirty || phoneNumber.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="phoneNumber.errors.required">Phone number is required.</span>
                                        </span>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="language">Default Language <span
                                            class="required-asterisk">*</span></label>
                                    <mat-select id="language" formControlName="language" name="language"
                                        class="form-control">
                                        <mat-option value="">Please select</mat-option>
                                        <mat-option 
                                         *ngFor="let lan of language"
                                         [value]="lan.value"
                                        >
                                            {{ lan.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card cardForm ">
                <div class="">
                    <form [formGroup]="shippingForm">
                        <h3 class="title">Shipping Information</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="firstName">First name <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="firstName"
                                        formControlName="firstName" placeholder="First Name" name="firstName" required>
                                        <span *ngIf="
                                        firstName.invalid &&
                                          (firstName.dirty || firstName.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="firstName.errors.required"> First name is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="lastName">Last name <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="lastName"
                                        formControlName="lastName" placeholder="Last Name" name="lastName" required>
                                        <span *ngIf="
                                        lastName.invalid &&
                                          (lastName.dirty || lastName.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="lastName.errors.required"> Last name is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="company">Company <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="company"
                                        formControlName="company" placeholder="Customers Company" name="company"
                                        required>
                                        <span *ngIf="
                                        company.invalid &&
                                          (company.dirty || company.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="company.errors.required"> Comapny name is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="streetAddress">Street Address <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="streetAddress"
                                        formControlName="streetAddress" placeholder="Street Address"
                                        name="streetAddress" required>
                                        <span *ngIf="
                                        streetAddress.invalid &&
                                          (streetAddress.dirty || streetAddress.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="streetAddress.errors.required">Street address  is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="city">City <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="city" formControlName="city"
                                        placeholder="City" name="city" required>
                                        <span *ngIf="
                                        city.invalid &&
                                          (city.dirty || city.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="city.errors.required"> City name is required.</span>
                                        </span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="postalCode">Postal Code <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="postalCode"
                                        formControlName="postalCode" placeholder="Postal Code" name="postalCode"
                                        required>
                                        <span *ngIf="
                                        postalCode.invalid &&
                                          (postalCode.dirty || postalCode.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="postalCode.errors.required"> Postal is required.</span>
                                        </span>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="country">Country <span
                                            class="required-asterisk">*</span></label>
                                    <mat-select id="country" formControlName="country" name="country"
                                        class="form-control">
                                        <mat-option value="">Please select</mat-option>
                                        <mat-option *ngFor="let country of country"
                                        [value]="country.value"
                                        >
                                            {{ country.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="label" for="stateProvince">State/Province <span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control inputText" id="stateProvince"
                                        formControlName="stateProvince" placeholder="Enter State" name="stateProvince"
                                        required>
                                        <span *ngIf="
                                        stateProvince.invalid &&
                                          (stateProvince.dirty || stateProvince.touched)
                                        " class="text-danger mx-2">
                                          <span *ngIf="stateProvince.errors.required"> State is required.</span>
                                        </span>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 my-1">
                                <div class="form-group">
                                    <label class="label" for="group">Groups <span
                                            class="required-asterisk">*</span></label>

                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" formControlName="group">CUSTOMERS
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>