<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/gas-monkey-logo.png', width: 80, height: 60, alt: 'GasMonkey Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/gas-monkey-logo.png', width: 30, height: 30, alt: 'GasMonkey Logo'}"
  [sidebarToggler]="'lg'"
  [mobileAsideMenuToggler]="false"
  [asideMenuToggler]="false">

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>
    <li class="nav-item dropdown" dropdown placement="bottom right" style="margin-right: 40px; display: flex;">
      <a class="nav-link">
        <img [src]="'assets/img/user-logo.png'" class="img-avatar" alt="profile image"
             style="width: 35px;height: 35px; border-radius: 50%;"/>
        <!-- <h5 style="color: white; float: right; margin-top: 9px;" matTooltip="employeeName">{{'employeeName'}}</h5> -->
      </a>
      <button [matMenuTriggerFor]="accountMenu" style="color: black;" mat-icon-button>
        <i class="fa fa-chevron-down"></i>
      </button>
    </li>
    <!-- <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
    </li> -->
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true"  [display]="'lg'"  [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <!-- <app-sidebar-minimizer></app-sidebar-minimizer> -->
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <!-- <cui-breadcrumb> -->
      <!-- Breadcrumb Menu-->

    <!-- </cui-breadcrumb> -->
    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
      <!--<app-breadcrumb></app-breadcrumb>-->
      <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--</ol>-->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2022</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
<mat-menu #accountMenu="matMenu" backdropClass="account">
  <button style="height: 35px;" mat-menu-item>
    <i class="fa fa-line-chart btn-info"></i>
    <span class="right-padded">ড্যাশবোর্ড</span>
  </button>
  <button style="height: 35px;" mat-menu-item (click)="logout()">
    <i class="fa fa-sign-out btn-danger"></i>
    <span class="right-padded">বাহির</span>
  </button>
</mat-menu>
