<div class="card cardTopDistance">
    <div class="card-header">
        <div class="row">
            <div class="col-md-5">
                <h1 class="title">Password - admin@shopizer.com</h1>
            </div>
            <div class="col-md-3 ">
                <div class="div  ">
                    <mat-select id="merchantStore" 
                    name="merchantStore" 
                    class="form-control" 
                    (selectionChange)="onChange($event)"
                     >
                    
                        <mat-option value="change-password">Change password</mat-option>
                        <mat-option value="profile">Profile</mat-option>
                        <!-- <mat-option value="changepassword" *ngFor="let store of merchantStore" [value]="store.value" 
                         >
                            {{ store.viewValue }}
                             
                        </mat-option> -->
                        
                    </mat-select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="div float-right">
                    <button class="btn removeBtn ">cancel</button>
                    <button class="btn saveBtn  mx-3 " (click)="onSubmit()">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card cardForm">
    <div class="card-body">
        <form [formGroup]="userForm">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">Current password </label>
                <div class="col-md-12">
                    <input type="password" id="currentPassword" formControlName="currentPassword" name="currentPassword"
                        class="form-control" placeholder="Password" autocomplete="Password" />
                    <span
                  *ngIf="
                  currentPassword.invalid &&
                    (currentPassword.dirty || currentPassword.touched)
                  "
                  class="text-danger mx-2"
                >
                  <span *ngIf="currentPassword.errors.required"> Password required.</span>
                  <div *ngIf="currentPassword.errors.minlength">Password must be at least 3 characters</div>
                </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">New password </label>
                <div class="col-md-12">
                    <input type="password" id="password" formControlName="password" name="password" class="form-control"
                        placeholder="New Password" autocomplete="Password" />
                    <span
                  *ngIf="
                  password.invalid &&
                    (password.dirty || password.touched)
                  "
                  class="text-danger mx-2"
                >
                  <span *ngIf="password.errors.required"> Password required.</span>
                  <div *ngIf="password.errors.minlength">Password must be at least 3 characters</div>
                </span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="password">Repeat new password </label>
                <div class="col-md-12">
                    <input type="password" id="repeatPassword" formControlName="repeatPassword" name="repeatPassword"
                        class="form-control" placeholder="Repeat Password" autocomplete="Repeat Password" />
                    <span
                  *ngIf="
                  repeatPassword.invalid &&
                    (repeatPassword.dirty || repeatPassword.touched)
                  "
                  class="text-danger mx-2"
                >
                  <span *ngIf="repeatPassword.errors.required"> Password required.</span>
                  <div *ngIf="repeatPassword.errors?.mustMatch">Passwords do not match.</div>
                </span>
                </div>
            </div>

        </form>
    </div>
</div>