<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="card cardTopDistance">
  <div class="card-header">
    <div class="row">
      <div class="col-md-3">
        <h1 class="title">User details</h1>
      </div>
      <div class="col-md-9">
        <div class="float-right">
          <button class="btn cancelBtn">CANCEL</button>
          <button class="btn removeBtn">REMOVE</button>
          <button class="btn saveBtn" (click)="onSubmit()">
            {{ buttonText }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card cardForm">
  <div class="card-body">
    <form [formGroup]="userForm">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="firstName"
          >First name <span class="required-asterisk">*</span></label
        >
        <div class="col-md-12">
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            name="firstName"
            class="form-control"
            placeholder="First name"
          />
          <span
          *ngIf="
          firstName.invalid &&
            (firstName.dirty || firstName.touched)
          "
          class="text-danger mx-2"
        >
          <span *ngIf="firstName.errors.required"> First name is required.</span>
        </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="lastName">Last name <span class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            name="lastName"
            class="form-control"
            placeholder="Last name"
          />
          <span
          *ngIf="
          lastName.invalid &&
            (lastName.dirty || lastName.touched)
          "
          class="text-danger mx-2"
        >
          <span *ngIf="lastName.errors.required"> Last name is required.</span>
        </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="merchantId"
          >Merchant store <span class="required-asterisk">*</span></label
        >
        <div class="col-md-12">
          <mat-select
            id="merchantId"
            formControlName="merchantId"
            name="merchantId"
            class="form-control"
          >
            <mat-option value="">Please select</mat-option>
            <mat-option
              *ngFor="let store of merchantStore"
              [value]="store.value"
            >
              {{ store.viewValue }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="email">Email <span class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input
            type="email"
            id="email"
            formControlName="email"
            name="email"
            class="form-control"
            placeholder="Email"
            autocomplete="Email"
          />
          <span
            *ngIf="
            email.invalid &&
              (email.dirty || email.touched)
            "
            class="text-danger mx-2"
          >
            <span *ngIf="email.errors.required"> Value has to be a valid email address.</span>
          </span>
          <span class="text-danger" *ngIf="email.errors?.pattern">
            Email address is required.
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="mobile">Mobile <span class="required-asterisk">*</span></label>
        <div class="col-md-12">
          <input
            type="text"
            id="mobile"
            formControlName="mobile"
            name="mobile"
            class="form-control"
            placeholder="mobile"
          />
          <span
          *ngIf="
          mobile.invalid &&
            (mobile.dirty || mobile.touched)
          "
          class="text-danger mx-2"
        >
          <span *ngIf="mobile.errors.required"> mobile is required.</span>
        </span>
        </div>
      </div>

      <mat-radio-group aria-label="Select an option"
          id="active"
          formControlName="active"
          name="active">
        <mat-radio-button [value]="true">Active</mat-radio-button>
        <mat-radio-button [value]="false">Inactive</mat-radio-button>
      </mat-radio-group>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="languageId"
          >Default language <span class="required-asterisk">*</span></label
        >
        <div class="col-md-12">
          <mat-select
            id="languageId"
            formControlName="languageId"
            name="languageId"
            class="form-control"
          >
            <mat-option value="">Please select</mat-option>
            <mat-option *ngFor="let lang of languageList" [value]="lang.id">
              {{ lang.value }}
            </mat-option>
          </mat-select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="groupId"
          >Default Group <span class="required-asterisk">*</span></label
        >
        <div class="col-md-12">
          <mat-select
            id="groupId"
            formControlName="groupId"
            name="groupId"
            class="form-control"
          >
            <mat-option value="">Please select</mat-option>
            <mat-option
              *ngFor="let grp of groupsList"
              [value]="grp.id"
              [disabled]="grp.value === 'Super'">
              {{ grp.value }}
            </mat-option>
          </mat-select>
        </div>
      </div>
    </form>
  </div>
</div>
