<div class="app-body">
<main class="main d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto ">

        <div class="card-group ">
          <div class="card ">
            <div class=" bg-white text-center">
              <img src="../../../../assets/img/gas-monkey-logo.png" alt="gas-monkey-logo"
                style="width: 120px;height:100px; " class="mt-3">
                <p>Please provide your email id to reset password</p>  
            </div>
            <div class="card-body mx-5  ">
              <div class="div mx-5 ">
                <form [formGroup]="formGroup" >
                  <label for="Username">Email</label>
                  <div class="input-group mb-4">
  
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" formControlName="username" placeholder="Please enter an email address"
                      autocomplete="username" required>
                  </div>
                  
                  <div class="row mb-5">
                    <div class="col-6">
                      <button (click)="userSubmit()" class="btn btn-primary px-4">Submit</button>
                    </div>
                    <div class="col-6 text-right">
                      <button (click)="forwardToLogin()" class="btn btn-link px-0">Back to login?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</div>
