

<div class="content" *ngIf="isShowLoading">
  <div class="text-center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="card cardForm cardTopDistance">
  <div class="row">
    <div class="col-md-4">
      <h3>Customers</h3>
    </div>
    <div class="col-md-4 text-center">
      <mat-form-field>
        <input  matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button class="float-right" mat-stroked-button color="primary" (click)="createNewCustomer()">
        <i class="material-icons">add_circle_outline</i>&nbsp;Add Customer
      </button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Action </th>
      <td mat-cell *matCellDef="let element">
        <div class="text-center">
          <button (click)="sendRowDataForEditCustomer(element)" class="btn  editBtn"><i class="fa fa-pencil"></i>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div *ngIf="dataSource.data.length === 0" style="text-align: center;color: red;">
    No Records Found
    </div>

  <mat-paginator [length]="paginatorLength"
    [pageSize]="dataSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
    (page)="pageEvent = $event; onPaginateChange($event)">
   </mat-paginator>
</div>


